body {
    font-family: "Amatic SC", sans-serif;
}
 /* Style the header */
 .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  section {
   width: 90%; /* Set the desired width */
   margin: 0 auto; /* Set left and right margins to auto */
 
  }

.loader-box{
    display: grid;
    place-items: center;
    width: 100%;
    height: 300px;
    background: #333;
    border-radius: 15px;
    overflow: hidden;
}

.yt-video {
    display: block;
    text-decoration: none;
    place-items: center;
    max-width: 100%;
    height: 100%;
    background: #333;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.yt-video img {
width: 100%;
}

.yt-video h2 {
    font-weight: 400;
    padding: 15px;
    font-size: 28px;
    place-content: center;
    }
    
